.required>label:after {
    content:" *";
    color:red;
}
.required>label:after {
    content:" *";
    color:red;
}

.display-1 {
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 4rem;
}
